{% load static %}
<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <link rel="stylesheet" href="{% static 'basestyle.css' %}">
    </head>
    {% endblock %}
    {% block body %}
    <body>
        {% block message %}
         {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
        {% endblock %}
        <div class="header">
            <div class="logobox">
                <img class="logo" src="{% static "logo.jpeg" %}">
            </div>
            <div class="home">
                {% block topic %}
                    Home
                {% endblock %}
            </div>
            <div class="buttonBox">
                {% block headerButton1 %}
                    <a href="{% url 'sign up' %}"> <button class="logInButton">sign up </button> </a>
                {% endblock %}
                {% block headerButton2 %}\
                    <a href="{% url 'login' %}"> <button class="logInButton">Log in </button> </a>
                {% endblock %}
            </div>
        </div>
        <p>
            {% for user in users reversed %}
                <a href="{% url 'UserHome' user.id %}"> <h2>{{user.firstName}} {{user.lastName}}</h2> </a>
                {{user.email}}
                <br>
                <hr>
            {% endfor %}
        </p>
        <div class="footer">
            <div class="info">
                About us<br>
                What this website works?<br>
                Who is the CEO?<br>
                History of the website?<br>
            </div>
            <div class="contacts">
            Contact us using <br>
            <img class="icons" src="{% static 'instagramlogo.avif' %}">
            <img class="icons" src="{% static 'youtubelogo.png' %}">
            <div>Email : <em>eyobtesfaye@gmail.com</em></div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>