{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <head>
        <link rel="stylesheet" href="{% static 'sign.css' %}">
    </head>
{% endblock %}
{% block message %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    <body>
        <div>
            <p>Create Your Account.</p>
                <form method="POST" action="{% url 'sign up' %}">
                    {% csrf_token %}
                    <input class="holder" placeholder="First Name" type="text" name="firstName">
                    <input class="holder" placeholder="Last Name" type="text" name="lastName">
                    <input class="holder" placeholder="Enter Email" type="email" name="email">
                    <input class="holder" placeholder="password" type="password" name="password">
                    <button type="submit">Sign Up</button>
            </form>
        </div>
    </body>
{% endblock %}