{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mine/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navBar">
        <div class="logo">
            <a href=""><h1 class="logoText">Y.E.S</h1></a>
        </div>
        <div class="home">
            <a href=""><h1 class="navText">Home</h1></a>
        </div>
        <div class="signup">
            <a href=""><h1 class="navText">Sign Up</h1></a>
        </div>
        <div class="login">
            <a href=""><h1 class="navText">Login</h1></a>
        </div>
    </div>
    <div class="bos">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto unde ad officiis eaque exercitationem asperiores
             accusamus, quibusdam iste minus suscipit accusantium laborum voluptas sed. Sunt odit architecto veritatis error!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto unde ad officiis eaque exercitationem asperiores
             accusamus, quibusdam iste minus suscipit accusantium laborum voluptas sed. Sunt odit architecto veritatis error!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto unde ad officiis eaque exercitationem asperiores
             accusamus, quibusdam iste minus suscipit accusantium laborum voluptas sed. Sunt odit architecto veritatis error!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto unde ad officiis eaque exercitationem asperiores
             accusamus, quibusdam iste minus suscipit accusantium laborum voluptas sed. Sunt odit architecto veritatis error!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto unde ad officiis eaque exercitationem asperiores
             accusamus, quibusdam iste minus suscipit accusantium laborum voluptas sed. Sunt odit architecto veritatis error!</p>

</div>
<div class="infoBar">
    <div>
        hello
    </div>
{% block form %}

{% endblock %}
</div>
</body>
</html>